h1 {
    text-align: center;
}

p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.home-wrapper {
    width: 100vw;
    height: 100vh;
}

.table-wrapper {
    display:inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-section {
    width: 28vw;
    margin: 10px 30px;
}