.site-header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: center;  
  letter-spacing: 0.05rem;
  background: rgb(247, 135, 44);
  padding: 0.8rem 1rem;
  color: white;
}

.navbar-dashboard{
    display: flex;
    justify-content: space-between;    
    width: 100vw;
}

.navbar .first-bar{
    display: flex;
    align-items: center;
}

.user-button{
    text-decoration: none;
    margin-right: 20px;
    border: 2px solid black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    background: rgb(9, 77, 70);
}

.navbar .second-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar .second-bar ul li{
    margin-right: 20px;
    list-style: none;
    text-decoration: none;
}

.exit-button{
    text-decoration: none;
}

.navbar-anonymous{
    display: flex;
    justify-content: space-between;    
    width: 100vw;
}

.navbar-anonymous .middle-bar {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar-anonymous .middle-bar span {
    
    text-decoration: none;
    font-size:36px;
    color: rgb(24, 4, 114);
    
}

.middle-bar span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bolder;
    color: rgb(165, 217, 238);
}

.navbar-dashboard .middle-bar {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar-dashboard .middle-bar span {
    
    text-decoration: none;
    font-size:36px;
    color: rgb(24, 4, 114);
    
}